services:
  wiremock:
    image: wiremock/wiremock:latest
    container_name: remita-wiremock
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/__files:/home/wiremock/__files
    command:
      - "--verbose"
      - "--global-response-templating"
    restart: unless-stopped
